/* .navbar{
    float: right;
    margin-right: 80px;
    display: flex;
    gap: 10px;
}
.navbar-button{
    padding: 30px;
}
*{margin: 0;
padding: 0;}
.width{
    height: 100px;
    width: 100px;
    transition-property: width;
    background-color: aqua;
}
:hover.width{
    width: 500px;
}
<div class="width"></div>
<style>
    .div{
        height: 100px;
        width: 100px;
        background-color: aqua;
    }
    :hover.div{
        width: 200px;
        transition: linear; */
    /* } */
    /* .container{background-color: aqua;
        

    }
    .child{
        background-color: blue;
        border: 2px solid red;
        width: 100px;
        height: 100px;
    }
    .child1{position: absolute;
        left: 80px;

    } */
    .box {
        width: 50px;
        height: 50px;
        background-color: red;
        position: relative;
        animation: move 4s linear infinite;
      }
      .box {
        width: 50px;
        height: 50px;
        background-color: red;
        position: relative;
        animation: move 4s linear infinite;
      }
      @keyframes move{
        0%{
          transform: translate(0,0);
        }
        25%{
          transform: translate(-1000px,0px) rotate(90deg) ;
        }
        50%{
          transform: translate(-1000px,400px) scale(2,1);
        }
        75%{
          transform: translate(0px,400px);
        }
        100%{
          transform: translate(0,0);
        }
      }

      .box:hover{
          animation-play-state: paused;
          height: 300px;
      }
      
      /* @keyframes move {
        0% {
            transform: translate(1000px,-0px);
                }
                25% {
                    transform: translate(500px,0px);
         
                 }      
                 50% {
            transform: translate(0px,500px); 
                  }
               75% {
                  transform: translate(1000px,500px);
                  }
                  100% {
                     transform: translate(1000px,0px);
                     }
                      } */
        
/* 
    @keyframes move {
        0% {
          left: 0;
          top: 0;
        }
        25% {
          left: calc(100% - 50px);
          top: 0;
        }
        50% {
          left: calc(100% - 50px);
          top: calc(100% - 50px);
        }
        75% {
          left: 0;
          top: calc(100% - 50px);
        }
        100% {
          left: 0;
          top: 0;
        }
      }
         */
    .item{
      height: 100px;
      width: 100px;
      border: 2px solid red;
    }


